footer{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px; 
    background: linear-gradient(to right, rgba(255, 6, 11, 0.1) 10%, rgba(153, 4, 7, 0.1) 90%);
    
    color: #333;

}

.logos{
    width: 5%;
    opacity: 90%;
}